{% extends 'base.html' %}

{% block title %}blogify | Edit Blog{% endblock %}


{% block contant %}
    <main>
        <h1>Edit Blog</h1>

        <form action="{{ url_for('edit_blog_form', blog_id=blog['head']['blog_id']) }}" method="POST">
            <label for="title">Tilte:</label>
            <textarea name="Title" id="title">{{ blog['body']['title'] }}</textarea>
            <label for="introduction">Introduction:</label>
            <textarea name="Introduction" id="introduction">{{ blog['body']['introduction'] }}</textarea>
            <label for="content">Content:</label>
            <textarea name="Content" id="content">{{ blog['body']['content'] }}</textarea>
            <label for="conclusion">Conclusion:</label>
            <textarea name="Conclusion" id="conclusion">{{ blog['body']['conclusion'] }}</textarea>

            <button type="submit">Save Changes</button>
        </form>
    </main>
{% endblock %}
