{% extends 'base.html' %}

{% block title %} blogify {% endblock %}

{% block contant %}
    <main class="home">
        <div class="wrapper">
            <div class="greet-user">
                {% if session.get('logged_in') %}
                    <h1>Hello, {{ user['name'] }}</h1>

                {% else %}
                    <h1>Hello, Guest</h1>
                {% endif %}
            </div>
            <section class="all-blogs">
                <div>
                    <h1 class="">All Blogs</h1>
                </div>
                <ul class="blog-list">
                    {% for blog in blog %}
                        <li class="blog_post" id="{{ blog['head']['blog_id'] }}">
                            <h1 class="blog-title"> {{ blog['body']['title'] }} </h1>
                            <a class="blog-link" href="{{ url_for('view_blog', blog_id=blog['head']['blog_id']) }}">Read More</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
{% endblock %}